:root {
  --primary-color: #10141e;
  --nav-color: #161d2f;
  --hl: #fc4747;
  --svg-fill: #5A698F;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container{
  max-width: 1600px;
}

body {
  background-color: var(--primary-color);
  font-family: "Outfit", sans-serif;
  color: white;
}

main {
  padding: 0 0.5rem 0 0.5rem;
}

nav {
  background-color: var(--nav-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem .5rem;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    list-style-position: inside;    
}

nav ul img {
  margin-left: 1rem;
}

svg{
  fill: var(--svg-fill);
}

svg:hover {
  fill: var(--hl);
  cursor: pointer;
}

.row {
  display: flex;
}

.avatar {
  width: 40px;
  border: 2px solid white;
  border-radius: 50%;
}

.search-section {
  display: flex;
  gap: 1rem;
  padding-top: 0.5rem;
}

.search-section form{
  width: 100%;
}

form{
  display: flex;
  gap: 1rem;
}

form button{
  border: none;
  border-radius: 10px;
  font-weight: 600;
  padding: .5rem 1rem ;
  background-color: var(--svg-fill);
  color: white;
  cursor: pointer;
}

form button:hover{
  background-color: #5a698f70;
}

.search-section input {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  color: #7f8287;
  font-family: inherit;
  font-size: 1rem;
  outline: none;
  caret-color: var(--hl);
  border-bottom: 2px solid var(--primary-color);
}

.search-section input:focus{
  border-color: var(--svg-fill);
}

.search-section input::placeholder {
  color: #7f8287;
}

.trending-carousel {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  max-width: 1300px;
}

.trending-carousel::-webkit-scrollbar{
  height: 10px;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #161d2f;
}

::-webkit-scrollbar-thumb {
  background-color: var(--hl);
  border-radius: 10px;
}

.trending h2,
.recommended h2 {
  margin-top: 1rem;
  font-weight: 100;
}

.trending-card {
  border-radius: 10px;
  position: relative;
  min-width: 260px;
  height: 200px;
  background-image: url("assets/thumbnails/1998/regular/medium.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: .3rem .5rem .3rem .5rem;
  border-radius: 20px;
  background-color: #80858fca;
  cursor: pointer;
  scale: 0;
  transition-duration: .3s;

}

.play-container button{
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 1rem;
}


.bookmark-container,
.rating {
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  border-radius: 20px;
  background-color: #3c45558f;
}

.bookmark-container:hover {
  background-color: white;
  cursor: pointer;
}

.bookmark-container {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

/* .bookmark{
  TODO
  figure out bookmark hover effect
} */

.rating {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  font-weight: 100;
}

.movie-info {
  position: absolute;
  bottom: 0;
  left: 1rem;
  bottom: 1rem;
  font-weight: 100;
  color: #e0cfcfe7;
}

.recommended-movie-info .row,
.movie-info .row {
  align-items: center;
  gap: 0.5rem;
}

.movie-info h1 {
  font-weight: 200;
  color: white;
}

.recommended-thumbnail {
  border-radius: 10px;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("assets/thumbnails/beyond-earth/regular/small.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;

}

.recommended {
  margin-top: 3rem;
}

.recommended-container {
  margin-top: 1.5rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, .5fr) );
  gap: 20px;
}

.recommended-movie-info {
  margin-top: 0.5rem;
}

@media screen and (min-width:768px) {
    .trending-card{
        min-width: 440px;
        height: 250px;
    }
}

@media screen and (min-width:1420px){
    .container{
        display: flex;
    }

    nav{
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem .5rem;
        height: 800px;
        padding: 1rem 1rem;
        margin: 1rem .5rem;
      }

    nav ul {
        flex-direction: column;
        margin-top: 5rem;
      }
}



